<ion-toolbar>

 
  <ion-icon  (click) = "toggleMenu()" slot = "start" style = "width: 30px; height: 40px; margin-left: 2%;" name="menu-outline"></ion-icon>

  <ion-icon slot = "end" name="cart-outline" style = "width: 40px; height: 40px; margin-right: 2%;"></ion-icon>
  <ion-avatar slot = "end" style = "width: 40px; height: 40px" item-start class = "ion-margin-end">
    <img src = "https://cdn.pixabay.com/photo/2020/10/11/03/16/silhouette-5644656__340.jpg">
  </ion-avatar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class = "fondo">
    <ion-searchbar show-cancel-button="focus" style = "border-radius: 15px;" placeholder="Buscar usuario"></ion-searchbar>
    <div>
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>Usuarios</ion-card-subtitle> -->
          <ion-card-title>Lista de usuarios</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-list>
            <div *ngFor = "let usuario of usuarioService.usuarios">
              <ion-item   routerLink = "/detalle-usuario/{{usuario._id}}" detail>
                <ion-avatar item-start class = "ion-margin-end" *ngIf = "usuario.foto !==undefined">
                 
                    <img src = "{{usuario.foto}}">
                  
                </ion-avatar>

                <ion-avatar item-start class = "ion-margin-end" *ngIf = "usuario.foto == undefined">
                 
                  <img src = "https://cdn-icons-png.flaticon.com/512/147/147142.png">
                
              </ion-avatar>

             
                <div style = "display: flex; flex-direction: column;">
                  <ion-label >{{usuario.nombres}}</ion-label>
                  <div *ngIf = "usuario.rol  == 'Usuario'">
                    <ion-note item-end color="secondary">{{usuario.rol}}</ion-note>
                  </div>
                  <div *ngIf = "usuario.rol == 'Administrador'">
                    <ion-note item-end color="primary">{{usuario.rol}}</ion-note>
                  </div>
                  
                </div>
    
            
              </ion-item>
            </div>
           
           
            
           
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  
    
    <ion-fab vertical="bottom" style = "position: fixed;" horizontal="end" slot="fixed" routerLink = "/crear-usuario">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  



</ion-content>


