<ion-toolbar>

 
  <ion-icon  (click) = "toggleMenu()" slot = "start" style = "width: 30px; height: 40px; margin-left: 2%; cursor: pointer;" name="menu-outline"></ion-icon>

  <ion-icon slot = "end" name="cart-outline" style = "width: 40px; height: 40px; margin-right: 2%;"></ion-icon>
  <ion-avatar slot = "end" style = "width: 40px; height: 40px" item-start class = "ion-margin-end">
    <img src = "https://cdn.pixabay.com/photo/2020/10/11/03/16/silhouette-5644656__340.jpg">
  </ion-avatar>
</ion-toolbar>


<ion-content>
  <ion-segment value="Productos" (ionChange) = "segmentChanged($event)">
    <ion-segment-button value="Productos">
      <ion-label>Productos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Servicios">
      <ion-label>Servicios</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class = "fondo" *ngIf = "productos">
    <ion-searchbar show-cancel-button="focus"  placeholder="Buscar producto"></ion-searchbar>
  </div>

  <div style = "width: 90%;">
    <div class = "wrapper" *ngIf = "productos">
      <div class = "item">Categoría 1</div>
      <div class = "item">Categoría 2</div>
      <div class = "item">Categoría 3</div>
      <div class = "item">Categoría 4</div>
      <div class = "item">Categoría 5</div>
      <div class = "item">Categoría 6</div>
    </div>
  </div>
 
  <div class="box-container" *ngIf = "productos">
    <div class="box" *ngFor = "let producto of productoService.productos">
      <div class="image">
        <img src = "{{producto.foto}}" alt = "">
      </div>
  
      <div class="info">
        <div style = "display: flex; width: 100%; align-items: center;">
          <h3 class="title" style = "width: 80%;">{{producto.nombreProducto}} </h3>
          <div *ngIf="producto.estado == 'activo'" class = "estado-verde"> </div>
          <div *ngIf="producto.estado == 'inactivo'" class = "estado-gris"> </div>
          <div *ngIf="producto.estado == 'bloqueado'" class = "estado-rojo"> </div>
     
        </div>
       
        <div class="subinfo">
          <h6 style = "padding-left: 10px; padding-right: 8px;">{{producto.descripcion}}</h6>
          <h6 style = "padding-left: 10px;">{{producto.marca}}</h6>
          <h6 style = "padding-left: 10px;">Publicado por: Administración</h6>
          
          <h6>{{producto.calificacion}}</h6>
          <div class="price">$ {{producto.precioAlquiler}} <span style = "color: #666;">por día</span></div>
       
          <div class="stars">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half"></i>
          </div>
        </div>
      </div>
  
      <div class="overlay">
        <a href = "#" style = "--i:1;"></a>
        <a href = "#" style = "--i:2;"></a>
        <a href = "#" style = "--i:3;"></a>
      </div>
    </div>
  
    </div>
  <div class = "fondo" *ngIf = "servicios">
    <ion-searchbar show-cancel-button="focus" style = "border-radius: 15px;" placeholder="Buscar servicio"></ion-searchbar>
  </div>
  <div style = "width: 90%;">
    <div class = "wrapper" *ngIf = "servicios">
      <div class = "item">Categoría 1</div>
      <div class = "item">Categoría 2</div>
      <div class = "item">Categoría 3</div>
      <div class = "item">Categoría 4</div>
      <div class = "item">Categoría 5</div>
      <div class = "item">Categoría 6</div>
    </div>
  </div>
  <div class="box-container" *ngIf = "servicios">
    <div class="box"  *ngFor = "let servicio of servicioService.servicios">
      <div class="image">
        <img src = "{{servicio.foto}}" alt = "">
      </div>
  
      <div class="info">
        <div style = "display: flex; width: 100%; align-items: center;">
          <h3 class="title" style = "width: 80%;">{{servicio.nombreServicio}}</h3>
          <div *ngIf="servicio.estado == 'activo'" class = "estado-verde"> </div>
          <div *ngIf="servicio.estado == 'inactivo'" class = "estado-gris"> </div>
          <div *ngIf="servicio.estado == 'bloqueado'" class = "estado-rojo"> </div>
        </div>
    
        <p style = "padding: 10px;">{{servicio.descripcion}}</p>
        <div class="subinfo">
          <div class="price">$ {{servicio.precioAlquiler}}<span style = "color: #666;"> {{servicio.tiempoAlquiler}}</span></div>
       
          <div class="stars">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half"></i>
          </div>
        </div>
      </div>
  
      <div class="overlay">
        <a href = "#" style = "--i:1;"></a>
        <a href = "#" style = "--i:2;"></a>
        <a href = "#" style = "--i:3;"></a>
      </div>
    </div>
  
    
  
   
  </div>
</ion-content>

