.img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.img-container{
    margin-right: 5%;
}

ion-toolbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 3%;
}

ion-card{
    border: 1px solid lightgray;
}
