

ion-toolbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 3%;
}

ion-card{
    border: 1px solid lightgray;
}

.searchbar-input .sc-ion-searchbar-md{
    border-radius: 25px;
}

ion-fab-button{
    --background: rgb(189, 101, 199);
}
