ion-toolbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 3%;
}

ion-card{
    border: 1px solid lightgray;
}

input{
    width: 100%;
    display: block;
    border-radius: 5px;
    outline: 0;
    border: 2px solid lightgray;
    padding: 5px;
    
}