<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button   routerLink = "/listar-servicios" default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Configuración de servicios</ion-title>
</ion-toolbar>


<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Usuarios</ion-card-subtitle> -->
      <ion-card-title>Crear un nuevo servicio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form #servicioForm = "ngForm" (ngSubmit) = "editarServicio(servicioForm)">
        <div class = "form-group">
          <label style = "text-align: left; color: black;  margin-bottom: 5%;">Nombre del servicio</label><span style = "color: red;"> *</span>
          <div style = " text-align: center; display: flex; margin-bottom: 1%;">
            
            <input style = "width: 100%;" type = "text" class = "form-control" name = "nombreServicio" placeholder = "Digite el nombre del servicio" [(ngModel)] = "servicioService.servicioSeleccionado.nombreServicio">

            
          </div>

     

          <label style = "text-align: left; color: black;  margin-bottom: 5%;">Descripción</label>
            <div style = " text-align: center; display: flex; margin-bottom: 1%;">
              
              <textarea style = "width: 100%;" class = "form-control" name = "descripcion" placeholder = "Digite la descripción del servicio" [(ngModel)] = "servicioService.servicioSeleccionado.descripcion"></textarea>
            </div>
       
          <label style = "text-align: left; color: black;  margin-bottom: 5%;">Precio alquiler</label><span style = "color: red;"> *</span>
          <div style = " text-align: center; display: flex; margin-bottom: 1%;">
            
            <input style = "width: 100%;" type = "text" class = "form-control" name = "precioAlquiler" placeholder = "Digite el precio de alquiler del servicio" [(ngModel)] = "servicioService.servicioSeleccionado.precioAlquiler">
          </div>

          <label style = "text-align: left; color: black;  margin-bottom: 5%;">Tiempo alquiler</label><span style = "color: red;"> *</span>
          <div style = " text-align: center; display: flex; margin-bottom: 1%;">
            
            <ion-select style = "width: 100%;" class = "form-control" name = "tiempoAlquiler" placeholder="Seleccionar estado" [(ngModel)] = "servicioService.servicioSeleccionado.tiempoAlquiler">
              <ion-select-option value="por hora">Por horas</ion-select-option>
              <ion-select-option value="por trabajo realizado">Por trabajo realizado</ion-select-option>
            </ion-select>
          </div>

                <label style = "text-align: left; color: black;  margin-bottom: 5%;">Estado</label><span style = "color: red;"> *</span>
          <div style = " text-align: center; display: flex; margin-bottom: 1%;">
            
            <ion-select style = "width: 100%;" class = "form-control" name = "estado" placeholder="Seleccionar estado" [(ngModel)] = "servicioService.servicioSeleccionado.estado">
              <ion-select-option value="activo">Activo</ion-select-option>
              <ion-select-option value="inactivo">Inactivo</ion-select-option>
              <ion-select-option value="bloqueado">Bloqueado</ion-select-option>
            </ion-select>
          </div>
        
       
    
        
          <label style = "text-align: left; color: black;  margin-bottom: 5%;">Foto</label><span style = "color: red;"> *</span>
          <div style = " text-align: center; display: flex; margin-bottom: 1%;">
            
            <input type="file" class = "form-control" (change) = "capturarFile($event)" name = "foto" value= "servicioService.servicioSeleccionado.foto">
          </div>
          <label *ngIf = "previsualizacion" style = "margin-top: 1%;">Previsualización</label>
          <div style = "text-align: center;" *ngIf = "previsualizacion">
          
            <img style = "width: 50%;  border: 1px solid lightgray; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"[src] = "previsualizacion" alt = "">
          </div>
        </div>
        
        <div style="text-align:center; margin-top: 5%; ">
          <button style = "background-color: rgba(232,93,248,1); border-radius: 8px; padding: 8px; color: white;" type = "submit">Guardar</button>
        </div>
      
        
      </form>
    </ion-card-content>
  </ion-card>
 
</ion-content>