.toolbar-background{
    --ion-background-color: linear-gradient(184deg, rgba(232,93,248,1) 12%, rgba(116,50,164,1) 93%);
}

ion-header{
    --ion-background-color: linear-gradient(184deg, rgba(232,93,248,1) 12%, rgba(116,50,164,1) 80%);

}

ion-title{
    color: white;
}