<ion-menu contentId="main-content" side = "start" menuId = "first" contentId = "principal">
  <ion-header>
    <ion-toolbar>
      <ion-title>AlquiNow</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf = "usuarioService.usuario.rol == 'Administrador'">
       
        <ion-icon name="home-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;" (click)="this.menuCtrl.close()" routerLink = "listar-usuarios">  Inicio</ion-label>
      </ion-item>
      <ion-item *ngIf = "usuarioService.usuario.rol == 'Administrador'">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;" (click)="this.menuCtrl.close()" routerLink = "editar-perfil">Perfil</ion-label>
      </ion-item>  
      <ion-item *ngIf = "usuarioService.usuario.rol == 'Administrador'">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;" routerLink = "listar-usuarios" (click)="this.menuCtrl.close()">Usuarios</ion-label>
      </ion-item>
      <ion-item *ngIf = "usuarioService.usuario.rol == 'Administrador'">
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;" routerLink = "listar-productos" (click)="this.menuCtrl.close()">Productos Usuarios</ion-label>
      </ion-item>
      <ion-item *ngIf = "usuarioService.usuario.rol == 'Administrador'">
        <ion-icon name="hammer-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;" routerLink = "listar-servicios" (click)="this.menuCtrl.close()">Servicios Usuarios</ion-label>
      </ion-item>
      <ion-item *ngIf = "usuarioService.usuario.rol == 'Administrador'">
        <ion-icon name="hammer-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;" routerLink = "terminos-condiciones" (click)="this.menuCtrl.close()">Términos y condiciones</ion-label>
      </ion-item>
      <ion-item (click) = "cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label style = "margin-left: 3%;">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>